















 

General objectives
Category	Equipment ID 	Description	Status	Advance %
Installation	PA 5501	LMg2	Ongoing	0%

Weir Specialist On-Site/ Remote Support
Name	Role	Telephone	Location	Email
Rogério Miguel 	Field specialist 	+55 31 99370-7503	On-Site	rogerio.miguel@mail.weir
Miguel Quiroz 	Field Specialist 	+16044402642	On-Site	miguel.quiroz@mail.weir

Main Site Contacts
Name	Role	Telephone	Email
Humberto Nascimento 	coordinator 	+55 31 98211 0771	humberto.nascimento@angloamerican.com
 
Summary of the Day: 06-09-2025
Visiting the site, have a Meeting with automation Team to set the installation plan!
Main Objectives for the day:
Coordination Meeting 
Search the components 
Visit the Loader and define the location for the components
Challenges Faced:
Search of the Bracket - MCF500 because the minesite crew didn't know where It was
Plan for Tomorrow:
Prepare base Plates for the LCS Bracket
Prepare adaptor for the monitor RAM mount
Find a welder to repair the steps of the  front axle to hold the MCF
Get the final approval From the Engineering team regarding the location of the components 

 
PA 5501 – KOMATSU WA1200
General
System	LMg2 	UUID	
CPU Serial Number	SM3110	VeOS	
CPU Functionality	Pending	VES	
LCD Display	Pending	Display S/N	606222300245
CPU Power Supply	Pending
LoaderMetrics™ - TVM
Bucket Camera	Pending	Bucket Cam S/N	
Rear Surveillance	Pending	S/N		Bracket S/N	
Left Surveillance	Pending	S/N		FCU S/N	
Right Surveillance		S/N		Air Compressor	Pending
FCU	Pending	AC Power Supply	Pending
FCU Power Supply	Pending	Air Hose	Pending
Calibration	Required	Water Hose	Pending
Network Connection	Pending
IP Settings
IP Address	10.188.104.131	Subnet Mask	255.255.240.0
Default Gateway	10.188.96.11	Computer Name	PA5501
Overview
Date of Update	06-09-2025
MMPro Connection	Pending
Status	Pending
Remaining Items	
PA 5501 – KOMATSU WA1200
	
LCD Display	Bucket Camera
	
Rear Surv. Camera	Left Surv. Camera
	
Right Surv. Camera	FCU

Component Replacement
Equipment	Component	Older S/N	New S/N 
			

SF Case Needed
Equipment	Type	Component	S/N	Observation
				

SMg3 / LM Cables
Cable Type	Connected To	Excess/Lack of cable in feet
		

SharePoint
Link: 











